.success-container {
    background-color: #def2d8;
    border: 1px solid #748b6e;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    min-height: 40px;
    width: 50%;
}

.error-container {
    background-color: #ffa381;
    border: 1px solid #cb1313;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    min-height: 40px;
    width: 50%;
}

.success-container mat-icon {
    padding-left: 8px;
    color: #748b6e;
}

.add-variety input,
.add-variety label,
.add-variety textarea,
.add-variety select * {
    font-size: 24px;
    width: 600px;
}

.add-variety {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.error {
    color: red;
}

button {
    padding: 8px;
    font-size: 24px;
}