<div id="room">
    <h1>Modification de Variétés</h1>
  
    <table
      id="ht"

      class="table-striped table-hover"
    >
      <thead class="roomsheader">
        <th class="contentCell">nom de la variéte</th>
        <th class="contentCell">année de mise en marche</th>
        <th class="contentCell">description semis</th>
        <th class="contentCell">plantation</th>
        <th class="contentCell">entretien</th>
        <th class="contentCell">recolte</th>
        <th class="contentCell">période de mise en place</th>
        <th class="contentCell">période de récolte</th>
        <th class="contentCell">commentaire générale</th>
        <th class="actionCell">ACTION</th>
      </thead>
      <tbody>
        <tr *ngFor="let variety of varieties; let i = index">
          <td class="contentCell">{{ variety.nom }}</td>
          <td class="contentCell" *ngIf="!isSelectedVariety(variety)">{{ variety.anneedemiseenmarche }}</td>
          <td class="contentCell" *ngIf="isSelectedVariety(variety)"><input type="text" [(ngModel)]="modifiedVariety.anneedemiseenmarche"></td>

          <td class="contentCell" *ngIf="!isSelectedVariety(variety)">{{ variety.descriptionssemis }}</td>
          <td class="contentCell" *ngIf="isSelectedVariety(variety)"><input type="text" [(ngModel)]="modifiedVariety.descriptionssemis"></td>

          <td class="contentCell" *ngIf="!isSelectedVariety(variety)">{{ variety.plantation }}</td>
          <td class="contentCell" *ngIf="isSelectedVariety(variety)"><input type="text" [(ngModel)]="modifiedVariety.plantation"></td>

          <td class="contentCell" *ngIf="!isSelectedVariety(variety)">{{ variety.entretien }}</td>
          <td class="contentCell" *ngIf="isSelectedVariety(variety)"><input type="text" [(ngModel)]="modifiedVariety.entretien"></td>

          <td class="contentCell" *ngIf="!isSelectedVariety(variety)">{{ variety.recolte }}</td>
          <td class="contentCell" *ngIf="isSelectedVariety(variety)"><input type="text" [(ngModel)]="modifiedVariety.recolte"></td>

          <td class="contentCell" *ngIf="!isSelectedVariety(variety)">{{ variety.periodemiseenplace }}</td>
          <td class="contentCell" *ngIf="isSelectedVariety(variety)"><input type="text" [(ngModel)]="modifiedVariety.periodemiseenplace"></td>

          <td class="contentCell" *ngIf="!isSelectedVariety(variety)">{{ variety.perioderecolte }}</td>
          <td class="contentCell" *ngIf="isSelectedVariety(variety)"><input type="text" [(ngModel)]="modifiedVariety.perioderecolte"></td>

          <td class="contentCell" *ngIf="!isSelectedVariety(variety)">{{ variety.commentairegenerale }}</td>
          <td class="contentCell" *ngIf="isSelectedVariety(variety)"><input type="text" [(ngModel)]="modifiedVariety.commentairegenerale"></td>

          <td class="actionCell" *ngIf="!selectedVariety">
            <button (click)="selectVariety(variety)">Modifier</button>
            <button (click)="deleteVariety(variety.nom)">Suprimer</button>
          </td>
          <td class="actionCell" *ngIf="isSelectedVariety(variety)">
            <button (click)="modifyVariety()">Confirmer</button>
            <button (click)="deselectVariety()">Annuler</button>
          </td>

        </tr>
      </tbody>
    </table>
  
  </div>
  