<div id="hotel">
  <h1>Jardins</h1>

  <div class="divider"></div>

  <table id="ht" align="center" border="1" width="1000" class="table-striped table-hover">
    <thead class="header">
      <th class="contentCell">Id</th>
      <th class="contentCell">Nom</th>
      <th class="contentCell">Surface</th>
      <th class="contentCell">EstPotager</th>
      <th class="contentCell">typeSol</th>
      <th class="contentCell">estVerger</th>
      <th class="contentCell">hauteurMax</th>
      <th class="contentCell">estOrnement</th>
    </thead>
    <tbody>
      <tr class="blank_row" *ngFor="let garden of gardens;">
          <td class="contentCell"> <button (click)="showJardinDetails(garden)" class="goal-container">{{garden.jardinid}} </button></td>
          <td class="contentCell"> {{garden.nom}}</td>
          <td class="contentCell"> {{garden.surface}}</td>
          <td class="contentCell"> {{garden.estpotager}}</td>
          <td class="contentCell"> {{garden.typesol}}</td>
          <td class="contentCell"> {{garden.estverger}}</td>
          <td class="contentCell"> {{garden.hauteurmax}}</td>
          <td class="contentCell"> {{garden.estornement}}</td>
      </tr>
    </tbody>
  </table>
  
</div>
